.App {
  text-align: center;
}
.wrapper{
  padding: 25px 20%;
}
#btn-cal{
  width: 200px;
}
.card{
  overflow: hidden;
}
.card img{
  transition: all ease-in-out 0.5s;
}
.card img:hover{
  transform: scale(1.1);
}
.alert-sms{
  color: red !important;
}